MyTravel.Website/Service References/TravelService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyTravel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyTravel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/TravelService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PlaceResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Cities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Intrest" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaceResult" nillable="true" type="tns:PlaceResult" />
  <xs:complexType name="ArrayOfFlightResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightResult" nillable="true" type="tns:FlightResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightResult" nillable="true" type="tns:ArrayOfFlightResult" />
  <xs:complexType name="FlightResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="v" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightResult" nillable="true" type="tns:FlightResult" />
</xs:schema>