MyTravel.Website/Service References/TravelService/TravelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TravelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/TravelService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/TravelService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/TravelService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/TravelService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MyTravel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITravelService_GetOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResults" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetIntrest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntrest" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetIntrest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntrestResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITravelService">
    <wsdl:operation name="GetOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetOptions" message="tns:ITravelService_GetOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetOptionsResponse" message="tns:ITravelService_GetOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetResults" message="tns:ITravelService_GetResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetResultsResponse" message="tns:ITravelService_GetResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntrest">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetIntrest" message="tns:ITravelService_GetIntrest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetIntrestResponse" message="tns:ITravelService_GetIntrest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetFlights" message="tns:ITravelService_GetFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetFlightsResponse" message="tns:ITravelService_GetFlights_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITravelService" type="tns:ITravelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOptions">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntrest">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetIntrest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelService">
    <wsdl:port name="BasicHttpBinding_ITravelService" binding="tns:BasicHttpBinding_ITravelService">
      <soap:address location="http://localhost:8733/TravelService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>